.loginPage { box-sizing: border-box; }

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

.loginPage {
  font-family: 'Rubik', sans-serif;
  display: flex;
}

.loginPage .container {
  display: inline-flex;
  height: 85vh;
  flex: 1 1 auto;
  margin: 2rem;
}

.loginPage .left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.loginPage .right {
  flex: 1 1 auto;
  height: 100vh;
  width: 80%;
  display: inline-flex;
  transition: 1s;
  background: center / cover no-repeat url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
}  

.loginPage .header > h2 {
  margin: 0;
  color: #6914e1;
}

.loginPage .header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  background: linear-gradient(to right, #6914e1 0%, #db4a6c 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.loginPage .form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.loginPage .form > p {
  text-align: left;
}

.loginPage .form > p > a {
  color: #6914e1;
  font-weight: bold;
  font-size: 14px;
}

.loginPage .form-field {
  font-size: 16px;
  height: 46px;
  padding: 0 16px;
  color: 000;
  border: 2px solid #000;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: 0.2s;
  margin-top: 20px;
}

::placeholder { 
    color: black;
}

.loginPage .form-field:focus {
  border-color: #6914e1;
}

.loginPage .form > button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #6914e1 0%, #db4a6c 100%);
  border-radius: 3px;
  margin-top: 10px;
  color: #000;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
}

.loginPage .animation {
  animation-name: move;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.loginPage .a1 {
  animation-delay: 2s;
}

.loginPage .a2 {
  animation-delay: 2.1s;
}

.loginPage .a3 {
  animation-delay: 2.2s;
}

.loginPage .a4 {
  animation-delay: 2.3s;
}

.loginPage .a5 {
  animation-delay: 2.4s;
}

.loginPage .a6 {
   animation-delay: 2.5s;
}

.loginPage .a7 {
   animation-delay: 2.6s;
}

 @keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 5px 5px;
    width: 400px;
  }
}
