
.main {
  color: #fff;
  background-color: #0CBABA;
  background-image: linear-gradient(315deg, #0CBABA 0%, #380036 74%); 	
  
}

.carousel {
  position: relative;
}

.carousel-caption {
  position: absolute;
  background: rgba(0,0,0,0.4);
  padding: 15px 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}